extends layout

block content
    .container(style='margin-bottom:50px; margin-top:30px;background-color:lightgrey; border:groove')
        h1 #{tour.title}
        h5 organized by #{tour.organizer}
        h5 price: #{tour.price} 
        h5 destination: #{tour.destination}
        h5 day_duration: #{tour.day_duration}
        h5 night_duration: #{tour.night_duration}
        h5 start_book: #{tour.start_book}
        h5 end_book: #{tour.end_book}
        h5 start_trip: #{tour.start_trip}
        h5 end_trip: #{tour.end_trip}
        h5 flight_airline: #{tour.flight_airline} 
        h5 flight_airport: #{tour.flight_airport}
        h5 flight_depart: #{tour.flight_depart}
        h5 flight_return: #{tour.flight_return}
        h5 food: #{tour.food}
        h5 stars: #{tour.stars}
        h5 max_seat: #{tour.max_seat}
        h5 now_seat: #{tour.now_seat}
        h5 description: #{tour.description}
        h5 stars: #{tour.stars}
        h5 highlight: #{tour.highlight}
    .container
        if tour.now_seat
            h4 #{tour.now_seat} seat(s) remaining!
        else
            h4 out of order sorry!
        form(method="POST", action="/tour/"+tour._id)
            if(user)
                if(((user.state)&&(user._id==tour.organizerId)) || user.state == 2)
                    a.btn.btn-danger.delete-tour(href='#', data-id=tour._id style="margin-right:20px") Delete
                    a.btn.btn-dark(href='/tour/edit/'+tour._id, data-id=tour._id) Edit
                else
                    input.btn.btn-primary(style="margin-right:20px" type="submit", value="จองงงงงงงงงงงงงงงงงงงงง")
        br