extends layout

block content
    .container(style='margin-bottom:50px; margin-top:30px')
        h1= tour.title
        h5 organized by #{tour.organizer}
        if tour.now_seat
            h5 #{tour.now_seat} seat(s) remaining!
        else
            h5 out of order sorry!
        form(method="POST", action="/tour/"+tour._id)
            if(user)
                if(((user.state)&&(user._id==tour.organizerId)) || user.state == 2)
                    a.btn.btn-danger.delete-tour(href='#', data-id=tour._id style="margin-right:20px") Delete
                    a.btn.btn-dark(href='/tour/edit/'+tour._id, data-id=tour._id) Edit
                else
                    input.btn.btn-primary(style="margin-right:20px" type="submit", value="จองงงงงงงงงงงงงงงงงงงงง")
        br