extends layout

block content
    p #{userList.count}
    each value,index in userList.user
        p= index
        li= "username: "+value.username
        li= value.firstname
        li= value.lastname
        li= value.gender
        li= value.photo
        li= value.email
        li= value.state
        li= value.request.url